.ant-layout{
  height: 100%;
}
.ant-layout-header{
  text-align: left;
  color: #1f99b0;
  font-size: 22px;
  border-bottom: 1px solid lightgrey;
  padding: 0 20px;
  background-color: white;
}
.ant-layout-sider{
  background-color: white;
}
.ant-layout-content{
  margin: 0 15px;
}

