.container{
    padding: 10px;
}
.product_li{
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
}
.order_status{
    font-size: 20px;
    padding-bottom: 10px;
}
.order_info{
    padding: 15px;
    padding-top: 0;
    border-bottom: 1px solid powderblue;
    display: flex;
    justify-content: space-between;
}
.product_info{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product_info img{
    width: 80px;
    height: 80px;
}
.product_info div{
    display: inline-block;
}
.container .color1{
    border: 1px solid red;
    color: red;
}
.container .color2{
    border: 1px solid coral;
    color: coral;
}
.container .color3{
    border: 1px solid orange;
    color: orange;
}
.container .color4{
    border: 1px solid greenyellow;
    color: greenyellow;
}
.container .color5{
    border: 1px solid green;
    color: green;
}
.container .order_status {
    border: none;
}
